# Build directories
build/
bin/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Executables
server
client
*.out

# Object files
*.o

# Libraries
*.a
*.so

# Log files
*.log
logs/

# Core dumps
core